{% trans_default_domain 'cocorico_home' %}

{% if feeds|length %}
	<div class="section tips-section">
		<div class="container">

			<div class="section-header">
				<h2 class="title">
					{{ 'home.feeds.section.header.title'|trans }}</h2>
				<p class="subtitle">
					Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.
																																																																																											Sed ad debet scaevola, ne mel.
				</p>
			</div>
			<div class="section-body" id="rss-feed">
				<ul class="feed-items feed-items-hover">
					{% for feed in feeds|slice(0, 4) %}
						{% if feed.avatar is defined %}
							{% set image = feed.avatar %}
						{% else %}
							{% set image = asset('images/feed-default.png') %}
						{% endif %}
						<li class="feed-item">
							<a target="_blank">
								<div class="feed-item-image">
									<img src="{{ image }}" alt=""/>
								</div>

								<div class="feed-item-content">
									<h2>{{ feed.name }}</h2>

									<p>{{ 'home.feeds.section.content.link'|trans }}
										&gt;</p>
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}
