{% trans_default_domain 'cocorico_home' %}


<div class="section section-testimonials ">
	<div class="container content">
		<header class="section-head">
			<h2 class="section-title">
				{{ 'home.feeds.section.header.title'|trans }}
			</h2>
		</header>

		<div class="testimonial-slider section-body" id="rss-testimonial">
			<ul class="slides testimonial-items testimonial-items-hover">
				{% for feed in feeds|slice(0, 4) %}
					{% if feed.avatar is defined %}
						{% set image = feed.avatar %}
					{% else %}
						{% set image = asset('images/testimonial-default.png') %}
					{% endif %}
					<li class="testimonial-item">

						<div class="testimonial-item-image">
							{% include 'CocoricoCoreBundle:Frontend/Home:assets/testimonial.svg.twig'%}

							<!--<img src="{{ image }}" alt=""/>-->
						</div>

						<div class="testimonial-item-content">
							<h2>{{ feed.name }}</h2>

							<p>{{ feed.message }}</p>
						</div>

					</li>
				{% endfor %}
			</ul>
			<div class="slider-testimonials-paging"></div>
		</div>
	</div>
	<div class="shape"></div>
</div>
